body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    color: #000000;
    background: linear-gradient(90deg, rgb(192, 68, 20) 44%, rgb(187, 176, 19) 56%);
  }