body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    color: #000000;
    background: linear-gradient(90deg, rgb(26, 27, 27) 44%, rgb(23, 14, 104) 56%);
  }